# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Node (if any)
node_modules/

# PHP / Laravel
php/vendor/
php/storage/logs/*.log
php/storage/framework/cache/data/
php/storage/framework/sessions/*
php/storage/framework/views/*
php/.env
php/bootstrap/cache/*.php
php/laravel-base/  # 本地开发临时目录

# Java / Maven
java/target/
java/.mvn/

# Docker
*.log
